<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    <h4>Protocol domains</h4>
      <table class="table page-index-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Runtimes</th>
          <% for (i=1; i < runtimes.length - 1; i++) { %>
            <% if(filter.runtimes.includes(runtimes[i].name)) { %> 
              <th></th>
            <% } %>
          <% } %>
        </tr>
      </thead>
      <% domains.forEach(function(domain) { %>
        <tr>
          <td>
            <a href="/<%= domain.name %><% if(!filter.isDefault) {%>?runtimes=<%=filter.runtimes.join(',')%> <% } %>"><%= domain.name %></a>
          </td>
          <td>
            <% if (domain.isExperimental) { %> 
              <span class="label label-warning">Experimental API</span>
            <% } %>
          </td>
          <% if (domain.runtimes) { %> 
            <% domain.runtimes.forEach(function(runtime) { %>
                <% if(filter.runtimes.includes(runtime.name)) { %> 
                  <% if (runtime.protocol) { %> 
                    <td class="runtime"><%= runtime.name %></td>
                  <% } else { %>
                    <td class="runtime"></td>
                  <% } %>
                <% } %>
            <% }) %>
          <% } %>
        </tr>
      <% }) %>
      </table>
    </div>
  </div>

</div>

