.table {
  width: 2000px;
  border: 1px solid #e7e7e7;  
  table-layout: fixed;
}

thead,
.command {
  background-color: #f8f8f8; 
}

thead td {
  width: 250px;
}

.command {
  border-right: 1px solid #e7e7e7;
  color: #000;
}

.page-domain {
  /*padding: 40px 0; */
  overflow: auto;
  width: 100%;
}

.page-domain h1 { 
  font-size: 40px;
}

.page-domain .label {
  font-size: 20px;
  position: relative;
  top: -6px;
}

.page-domain .info {
  padding: 20px 0;
  font-size: 12px;
}

.page-domain .info .label {
  font-size: 13px;
}


.label-danger {
  background-color: #ffecec;
  color: #bd2c00;
}

.label-warning {
  background-color: #FFE3AA;
  color:   #AA8439;
}

.label-success {
  background-color: #eaffea;
  color: #55a532;
}

.page-index-list td {
    width: 100px;
}
